[submodule "mol_spec"]
	path = mol_spec
	url = ssh://git@ddl.bjmu.edu.cn:15806/ybli/mol_spec.git
[submodule "datasets"]
	path = data-center
	url = ssh://git@ddl.bjmu.edu.cn:15806/scaffold-network/data-center.git
